main {
    margin-block-end: 3rem;
}

.nft-card {
    display: flex;
    flex-direction: column;
    width: 28rem;
    height: 47.5rem;
    background-color: var(--color-bg-card);
    padding: 1.9rem;
    border-radius: 1.2rem;
    margin: auto;
    box-shadow: 0rem 2.5rem 5rem var(--color-shadow);
}

.nft-card__image-container {
    overflow: hidden;
    border-radius: 0.8rem;
    position: relative;
    margin-block-end: 1.8rem;
}

.nft-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nft-card__image-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--color-bg-viewer-overlay);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

@media(prefers-reduced-motion: reduce) {
    .nft-card__image-overlay {
        transition: none;
    }
}

.nft-card__image-container:hover .nft-card__image-overlay {
    opacity: 1;
}

.nft-card__view-icon {
    width: 4.8rem;
    height: 4.8rem;
}

.nft-card__title {
    color: var(--color-neutral-1);
    font-size: 1.7rem;
    margin-block-end: 1.1rem;
    letter-spacing: 0.01rem;
    font-weight: var(font-weight-semibold);
}

.nft-card__description {
    font-size: 1.43rem;
    font-weight: var(--font-weight-light);
    letter-spacing: 0.007rem;
    line-height: 2.1rem;
    margin-block-end: 1.7rem;
}

.nft-card__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    margin-block-end: 1.8rem;
}

.nft-card__price {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-2);
    font-weight: var(--font-weight-semibold);
}

.nft-card__icon {
    margin-inline-end: 0.5rem;
}

.nft-card__price .nft-card__icon {
    width: 0.9rem;
}

.nft-card__time-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nft-card__time-left .nft-card__icon {
    width: 1.4rem;
}

.nft-card__creator {
    display: flex;
    align-items: center;
    border-block-start: 0.2rem solid var(--color-line);
    padding-block-start: 1.1rem;
}

.nft-card__creator-avatar {
    width: 2.7rem;
    height: 2.7rem;
    border: 0.1rem solid var(--color-neutral-1);
    border-radius: 50%;
    margin-inline-end: 1.5rem;
}

.nft-card__creator-text {
    font-size: 1.3rem;
    font-weight: var(--font-weight-regular);
}

.nft-card__creator-name {
    color: var(--color-neutral-1);
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    margin-block-start: 3rem;
}

.attribution a {
    color: var(--color-link-footer);
    text-decoration: underline;
}